# Copyright 2019-2026 ETH Zurich and the DaCe authors. All rights reserved.
# Schema file for DaCe FPGA Preference extensions

# Metadata fields for elements:
#   type: any python type (dict, list, int, bool, float, str)
#   title: short name to show in GUI
#   description: tooltip to show in GUI
#   required: required sub-fields (for dict fields)
#   default: default value. Can be platform-specific (see below)
#   default_<platformname>: default value for platform <platformname> (overrides default)
#   template_vars: template variables to include when processing (str fields only)

# Top-level element is a dictionary (record)
type: dict
title: General
description: DaCe FPGA Preferences
required:
    compiler:
        type: dict
        title: Compiler
        description: Preferences of the compiler
        required:
            #############################################
            # General FPGA flags
            fpga:
                type: dict
                title: FPGA
                description: "Common preferences for FPGA compilation."
                required:

                    autobuild_bitstreams:
                        type: bool
                        default: true
                        title: Automatically build bitstreams
                        description: >
                            If set to true, CMake will automatically build missing
                            bitstreams when running an FPGA program. This can take a
                            very long time, and users might want to do this manually.
                            If set to false, the program will optimistically assume
                            that the bitstream is present in the build directory, and
                            will crash if this is not the case.

                    minimum_fifo_depth:
                        type: int
                        default: ''
                        title: Minimum depth of FIFOs
                        description: Sets the minimum depth of any generated FIFO.

                    vendor:
                        type: str
                        default: xilinx
                        title: FPGA vendor
                        description: >
                            Target Xilinx ("xilinx") or Intel ("intel_fpga") FPGAs when
                            generating code.

                    concurrent_kernel_detection:
                        type: bool
                        default: false
                        title: Detect parts of an SDFG that can run in parallel
                        description: >
                            If set to false, DaCe will place each weakly connected
                            component found in an SDFG state in a different Kernel/Processing Element.
                            If true, a heuristic will further inspect each independent component
                            for other parallelism opportunities (e.g., branches of the SDFG
                            that can be executed in parallel), creating the corresponding kernels.

            #############################################
            # FPGA (Xilinx) compiler flags
            xilinx:
                type: dict
                title: Xilinx
                description: FPGA (Xilinx) compiler preferences
                required:

                    mode:
                        type: str
                        default: simulation
                        title: Compilation mode
                        description: Target of FPGA kernel build (simulation/software_emulation/hardware_emulation/hardware)

                    path:
                        type: str
                        default: ''
                        title: Vitis installation override
                        description: >
                            Path to specific Vitis/SDx/SDAccel installation to
                            use instead of just searching PATH and environment
                            variables.

                    platform:
                        type: str
                        default: xilinx_u250_xdma_201830_2
                        title: Target platform for Xilinx
                        description: Platform name of Vitis/SDx/SDAccel target.

                    frequency:
                        type: str
                        default: ''
                        title: Target frequency for Xilinx kernels
                        description: >
                            Target frequency, in MHz, when compiling kernels
                            for Xilinx. Will not necessarily be achieved in
                            practice. To enable multiple clocks, enter values
                            in the format "clock_id:frequency", with frequency
                            being specified in MHz separated by an escaped bar,
                            all enclosed in quotes. E.g. "0:250\|1:500".

                    enable_debugging:
                        type: bool
                        default: false
                        title: Enable debugging for hardware kernels
                        description: >
                            Injects debugging cores on the interfaces of the
                            kernel, allowing fine-grained debugging of hardware
                            runs at the cost of additional resources. This is
                            always enabled for emulation runs.

                    host_flags:
                        type: str
                        title: Host arguments
                        description: Extra host compiler argument flags
                        default: "-Wno-unknown-pragmas -Wno-unused-label"

                    synthesis_flags:
                        type: str
                        title: Synthesis arguments
                        description: High-level synthesis C++ flags
                        default: "-std=c++14"

                    build_flags:
                        type: str
                        title: Arguments
                        description: Kernel build C++ flags
                        default: ""

                    decouple_array_interfaces:
                        type: bool
                        default: false
                        title: Decouple array memory interfaces
                        description: >
                            If an array is both read and written, this option decouples
                            its accesses, by creatin a memory interface for reading and one
                            for writing.
                            Note that this may hide potential Read-After-Write or
                            Write-After-Read dependencies.


            #############################################
            # Intel FPGA compiler flags
            intel_fpga:
                type: dict
                title: Intel FPGA
                description: Intel FPGA compiler preferences.
                required:

                    mode:
                        type: str
                        default: emulator
                        title: Compilation mode
                        description: >
                          Target of FPGA kernel build
                          (emulator/simulator/hardware).

                    path:
                        type: str
                        default: ''
                        title: Intel FPGA OpenCL SDK installation override
                        description: >
                            Path to specific Intel FPGA OpenCL SDK installation
                            to use instead of just searching PATH and
                            environment variables.

                    board:
                        type: str
                        default: a10gx
                        title: Target FPGA board
                        description: FPGA board to compile for, obtain list by running ``aoc --list-boards``.

                    enable_debugging:
                        type: bool
                        default: false
                        title: Enable debugging for hardware kernels
                        description: Injects debugging cores where available.

                    host_flags:
                        type: str
                        title: Host arguments
                        description: Extra host compiler argument flags
                        default: "-Wno-unknown-pragmas"

                    kernel_flags:
                        type: str
                        title: Kernel flags
                        description: High-level synthesis C++ flags
                        default: "-fp-relaxed -cl-no-signed-zeros -cl-fast-relaxed-math -cl-single-precision-constant -no-interleaving=default"

            #############################################
            # RTL (SystemVerilog) compiler
            rtl:
                type: dict
                title: RTL
                description: RTL (SystemVerilog) compiler preferences
                required:
                    verbose:
                        type: bool
                        default: false
                        title: Verbose Build & Execution Output
                        description: Output full build and execution (incl internal state) log.
                    verilator_flags:
                        type: str
                        default: ''
                        title: Additional Verilator Arguments
                        description: Additional arguments feed to verilator.
                    verilator_lint_warnings:
                        type: bool
                        default: true
                        title: Verilator Lint Warnings
                        description: Enable/Disable detailed SV lint checker output.
                    verilator_enable_debug:
                        type: bool
                        default: false
                        title: Verilator Enable Debug
                        description: Enable/disable verbose internal state debug output.

    instrumentation:
        type: dict
        title: Instrumentation
        description: Instrumentation preferences
        required:
            print_fpga_runtime:
                type: bool
                default: false
                title: Print FPGA runtime
                description: Prints the runtime of instrumented FPGA kernel states to standard output.
